<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.howei.mapper.DefectMapper" >

    <select id="getDefectList" parameterType="java.util.HashMap" resultType="com.howei.pojo.Defect">
        select de.*,DATE_FORMAT(de.created,'%Y-%m-%d') as created,c.name as departmentName,e1.name as sysName,e2.name as equipmentName,ee2.name as claimantName,
          ee1.name as createdByName,ee3.name as confirmer1Name
        from defect de
        left join company c on c.id=de.departmentId
        left join equipment e1 on e1.id=de.sysId
        left join equipment e2 on e2.id=de.equipmentId
        left join employee ee1 on ee1.id=de.createdBy
        left join employee ee2 on ee2.id=de.claimant
        left join employee ee3 on ee3.id=de.confirmer1
        <where>
            <if test="type!=null">
                and de.type=#{type}
            </if>
            <if test="type1!=null">
                and de.type!=4
            </if>
            <if test="sysId!=null">
                and de.sysId=#{sysId}
            </if>
            <if test="equipmentId!=null">
                and de.equipmentId=#{equipmentId}
            </if>
            <if test="departmentId!=null">
                and de.departmentId=#{departmentId}
            </if>
            <if test="month!=null">
                and de.confirmer1Time=#{month}
            </if>
            <if test="employeeId!=null">
                and (de.createdBy=#{employeeId} or de.claimant=#{employeeId} or de.confirmer1=#{employeeId} or locate(#{employeeId},de.empIds))
            </if>
        </where>
        order by de.created desc
        <if test="page!=null">
            limit ${page},${pageSize}
        </if>
    </select>

    <insert id="addDefect" parameterType="com.howei.pojo.Defect" keyProperty="id" useGeneratedKeys="true">
        insert into defect(company,createdBy,`level`,created,`type`,departmentId,abs,sysId,equipmentId,maintenanceCategory,`year`,bPlc,sourceType) value
        (#{company},#{createdBy},#{level},#{created},#{type},#{departmentId},#{abs},#{sysId},#{equipmentId},#{maintenanceCategory},#{year},#{bPlc},#{sourceType})
    </insert>

    <update id="updDefect" useGeneratedKeys="true" keyProperty="id" parameterType="com.howei.pojo.Defect">
        update defect
        <set>
            <if test="feedbackAbs!=null">
                feedbackAbs=#{feedbackAbs},
            </if>
            <if test="number!=null">
                `number`=#{number},
            </if>
            <if test="method!=null">
                method=#{method},
            </if>
            <if test="problem!=null">
                problem=#{problem},
            </if>
            <if test="remark!=null">
                remark=#{remark},
            </if>
            <if test="situation!=null">
                situation=#{situation},
            </if>
            <if test="completer!=null">
                completer=#{completer},
            </if>
            <if test="empIds!=null">
                empIds=#{empIds},
            </if>
            <if test="type!=null">
                `type`=#{type},
            </if>
            <if test="planedTime!=null">
                planedTime=#{planedTime},
            </if>
            <if test="orderReceivingTime!=null">
                orderReceivingTime=#{orderReceivingTime},
            </if>
            <if test="claimant!=null">
                claimant=#{claimant},
            </if>
            <if test="aPlc!=null">
                aPlc=#{aPlc},
            </if>
            <if test="bPlc!=null">
                bPlc=#{bPlc},
            </if>
            <if test="realSTime!=null">
                realSTime=#{realSTime},
            </if>
            <if test="realETime!=null">
                realETime=#{realETime},
            </if>
            <if test="abs!=null">
                abs=#{abs},
            </if>
            <if test="confirmer1!=null">
                confirmer1=#{confirmer1},
            </if>
            <if test="confirmer1Time!=null">
                confirmer1Time=#{confirmer1Time},
            </if>
            <if test="delaySTime!=null">
                delaySTime=#{delaySTime},
            </if>
            <if test="delayETime!=null">
                delayETime=#{delayETime},
            </if>
            <if test="delayBy!=null">
                delayBy=#{delayBy},
            </if>
            <if test="delayReason!=null">
                delayReason=#{delayReason},
            </if>
            <if test="realExecuteTime!=null">
                realExecuteTime=#{realExecuteTime},
            </if>
            <if test="plannedWork!=null">
                plannedWork=#{plannedWork},
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="getDefectById" parameterType="int" resultType="com.howei.pojo.Defect">
        select de.*,e1.name as sysName,e2.name as equipmentName,ee2.name as claimantName,ee1.name as createdByName
        from defect de
        left join equipment e1 on e1.id=de.sysId
        left join equipment e2 on e2.id=de.equipmentId
        left join employee ee1 on ee1.id=de.createdBy
        left join employee ee2 on ee2.id=de.claimant
        where de.id=#{id}
    </select>

    <select id="getDefectCountByDep" parameterType="int" resultType="int">
        select count(*) from defect where departmentId=#{departmentId}
    </select>

    <select id="getDefectHistiryByEqu" parameterType="java.util.HashMap" resultType="com.howei.pojo.Defect">
        select de.id,de.created,de.abs,de.type,e1.name as equipmentName,e2.name as sysName
        from defect de
        left join equipment e2 on e2.id=de.sysId
        left join equipment e1 on e1.id=de.equipmentId
        <where>
            <if test="sysId!=null and sysId!=0">
                and de.sysId=#{sysId}
            </if>
            <if test="equipmentId!=null and equipmentId!=0">
                and de.equipmentId=#{equipmentId}
            </if>
            <if test="departmentId!=null">
                and de.departmentId=#{departmentId}
            </if>
        </where>
        order by de.created desc
    </select>

</mapper>