<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.howei.mapper.EquipmentMapper" >

    <resultMap id="equipMap" type="com.howei.pojo.Equipment">
        <result column="id" property="id"></result>
        <result column="type" property="type"></result>
        <result column="name" property="name"></result>
        <result column="department" property="department"></result>
    </resultMap>

    <select id="getEquipmentList" resultType="java.util.HashMap" resultMap="equipMap">
      select * from equipment where type=#{type}
       <if test="department!=null and department!=''">
           and department=#{department}
       </if>
        <if test="page!=null and pageSize!=null">
            limit ${page},${pageSize}
        </if>
    </select>

    <insert id="addEquipment" parameterType="com.howei.pojo.Equipment" keyProperty="id" useGeneratedKeys="true">
      insert into equipment(name,type,department) values(#{name},#{type},#{department})
    </insert>

    <select id="findEquipment" parameterType="java.util.HashMap" resultType="int">
        select count(*) from equipment where 1=1
          <if test="name!=null and name!=''">
              and name=#{name}
          </if>
          <if test="type!=null and type!=''">
              and type=#{type}
          </if>
          <if test="depart!=null and depart!=''">
              and department=#{depart}
          </if>
    </select>

    <select id="findEquipmentById" parameterType="int" resultType="com.howei.pojo.Equipment" resultMap="equipMap">
        select * from equipment where id=#{id}
    </select>

    <update id="updEquipment" parameterType="java.util.HashMap" keyProperty="id" useGeneratedKeys="true">
        update equipment set name=#{name},type=#{type} where id=#{id}
    </update>

    <delete id="delEquipment" parameterType="int">
        delete from equipment where id=#{id}
    </delete>

    <select id="getSysNameList" parameterType="int" resultType="java.util.HashMap" resultMap="equipMap">
        select * from equipment where type='1'
        <if test="department!=null and department!=''">
          and department=#{department}
        </if>
    </select>

    <select id="getEquNameList" parameterType="int" resultType="java.util.HashMap" resultMap="equipMap">
        select * from equipment where type='2'
        <if test="department!=null and department!=''">
            and department=#{department}
        </if>
    </select>

    <select id="getEquMap" resultMap="equipMap" resultType="com.howei.pojo.Equipment" parameterType="java.lang.String">
        select * from equipment where 1=1
        <if test="type!=null and type!=''">
            and type=#{type}
        </if>
        <if test="department!=null and department!=''">
            and department=#{department}
        </if>
    </select>

    <select id="getEquipmentByName" resultType="com.howei.pojo.Equipment" parameterType="java.lang.String">
        select * from equipment where name=#{name} and department=#{departmentId}
    </select>

    <select id="getEquMap1" resultMap="equipMap" resultType="com.howei.pojo.Equipment" parameterType="java.util.HashMap">
        select * from equipment
        <where>
            <if test="type!=null and type!=''">
                type=#{type}
            </if>
            <if test="department!=null and department!=''">
                and department=#{department}
            </if>
        </where>

    </select>

</mapper>