.warp{
    width: 100%;
    height: 100%;
}
.top{
    width: 100%;
    height: 130px;
    padding-top: 20px;
    box-sizing: border-box;
    padding-left: 50px;
}
.floatBtn{
    float: left;
    margin-right: 17px;
}
.content{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.addDefectDiv, .detailedInfoDiv,.claimInfoDiv,.handleInfoDiv,.implementInfoDiv{
    display: none;
}
.handleInfoDiv table,.implementInfoDiv table{
    width: 500px;
    margin: 0 auto;
}
.addDefectDiv table{
    width: 550px;
    margin: 0 auto;
}
.detailedInfoDiv table{
    width: 750px;
    margin: 0 auto;
}
.claimInfoDiv table{
    width: 750px;
    margin: 0 auto;
}
.addDefectDiv table tr, .detailedInfoDiv table tr, .claimInfoDiv table tr,.handleInfoDiv table tr,.implementInfoDiv table tr{
    line-height: 50px;
}
.addDefectDiv table tr th,.handleInfoDiv table tr th,.implementInfoDiv table tr th{
    width: 200px;
    text-align: right;
    padding-right: 15px;
    box-sizing: border-box;
}
.detailedInfoDiv table tr th, .claimInfoDiv table tr th, .handleInfoDiv table tr th{
    text-align: right;
}
.detailedInfoDiv table tr td span{
    display: inline-block;
    line-height: 30px;
    padding: 0 5px;
}
.detailedInfoDiv table tr td textarea, .claimInfoDiv table tr td textarea, .handleInfoDiv table tr td textarea{
    border-radius: 5px;
    text-indent: 10px;
    margin-bottom: 10px;
}
.img-change{
    width: 100px;
    display: none;
    margin: 0 0 0 10px;
    float: left;
}
.img-change:hover{
    transform: scale(5);
}
.file{
    display: none;
}
.claimInfoBelayTr1,.claimInfoBelayTr2{
    display: none;
}
/*历史记录*/
.addHistory{
    position: fixed;
    right: 0px;
    top: 43px;
    display: none;
    box-shadow: -5px 12px 10px #908787;
    overflow: scroll;
}
.addHistory .addHistoryTitle{
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
}
.addHistory ul li {
    text-indent: 20px;
    line-height: 35px;
}
.addHistory ul li span {
    font-size: 20px;
}
/*layui多选框*/
.icon-close{
    display: none;
}
.layui-table-cell  .layui-btn-fluid{
    line-height: 30px;
}