.warp{
    width: 100%;
    height: 100%;
}
.top{
    width: 100%;
    height: 130px;
    padding-top: 20px;
    box-sizing: border-box;
    padding-left: 50px;
}
.floatBtn{
    float: left;
    margin-right: 17px;
}
.content{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.addDefectDiv, .claimInfoDiv,.handleInfoDiv,.implementInfoDiv{
    display: none;
}
.handleInfoDiv table,.implementInfoDiv table,.workHoursDiv table{
    width: 500px;
    margin: 0 auto;
}
.addDefectDiv table{
    width: 550px;
    margin-left: 10px;
}
.claimInfoDiv table{
    width: 750px;
    margin: 0 auto;
}
.addDefectDiv table tr, .claimInfoDiv table tr,.handleInfoDiv table tr,.implementInfoDiv table tr,.workHoursDiv table tr{
    line-height: 50px;
}
.addDefectDiv table tr th,.handleInfoDiv table tr th,.implementInfoDiv table tr th,.workHoursDiv table tr th{
    width: 200px;
    text-align: right;
    padding-right: 15px;
    box-sizing: border-box;
}
.workHoursDiv table tr th{
    width: 100px;
}
.claimInfoDiv table tr th{
    text-align: right;
}
.claimInfoDiv table tr td textarea, .handleInfoDiv table tr td textarea,.workHoursDiv table tr td textarea{
    border-radius: 5px;
    text-indent: 10px;
    margin-bottom: 10px;
}
.img-change{
    width: 100px;
    display: none;
    margin: 0 0 0 10px;
    float: left;
}
.img-change:hover{
    transform: scale(5);
}
.file{
    display: none;
}
.claimInfoBelayTr1,.claimInfoBelayTr2{
    display: none;
}
/*历史记录*/
.addHistory{
    position: fixed;
    right: 0px;
    top: 43px;
    display: none;
    box-shadow: -5px 12px 10px #908787;
    overflow: scroll;
}
.addHistory .addHistoryTitle{
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
}
.addHistory ul li {
    text-indent: 20px;
    line-height: 35px;
}
.addHistory ul li span {
    font-size: 20px;
}
/*layui多选框*/
.icon-close{
    display: none;
}
.layui-table-cell  .layui-btn-fluid{
    line-height: 30px;
}
.loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    text-align: center;
    padding-top: 300px;
    z-index: 19891020;
    display: none;
}
.loading div{
    animation:turn 1s linear infinite;
}
@keyframes turn{
    0%{-webkit-transform:rotate(0deg);}
    25%{-webkit-transform:rotate(90deg);}
    50%{-webkit-transform:rotate(180deg);}
    75%{-webkit-transform:rotate(270deg);}
    100%{-webkit-transform:rotate(360deg);}
}
/*工时确认*/
.workHoursDiv{
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    text-align: center;
    padding-top: 300px;
    z-index: 19891020;
    display: none;
}
.loading div{
    animation:turn 1s linear infinite;
}
@keyframes turn{
    0%{-webkit-transform:rotate(0deg);}
    25%{-webkit-transform:rotate(90deg);}
    50%{-webkit-transform:rotate(180deg);}
    75%{-webkit-transform:rotate(270deg);}
    100%{-webkit-transform:rotate(360deg);}
}